body {
    margin: auto;
    padding-top: 50px;
    width: 70%;
    height: 100%;
    background-color: rgb(222, 221, 221);
}

li {
    list-style-type: none;
}

.jumbotron {
    border-style: solid;
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
    border-width: thick;
    border-color: rgb(34, 126, 200);
}

.mapa {
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    border-color: rgb(34, 126, 200);
}

.divConsultar {
    margin-bottom: 15px;
}

.conteudoEndereco {}

.listaLabels {
    padding-left: 0px;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}

#map-canvas img {
    max-width: none !important;
}
